<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="container">
        <h1>Image Optimisation</h1>
        <%= typeof msg != 'undefined' ? msg : ''; %>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="file-field input-field">
              <div class="btn grey">
                <span>Choose File</span>
                <input name="Image" type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload your Image">
              </div>
            </div>
            <button type="submit" class="btn" >Resize</button> 
            <button type="submit" class="btn" formaction="/convert">Convert Image</button>
            <button type="submit" class="btn" formaction="/getColorCodes">Get Colour Codes</button>
          
             </form>
          
    </div>
    <div class="container"> 
      <h6><%= typeof heading != 'undefined' ? heading : ''; %></h6>
      
      <picture>
        <source media="(min-width: 2048px)" srcset="<%= typeof XL_FILE != 'undefined' ? XL_FILE : ''; %>">
        <source media="(min-width: 1350px)" srcset="<%= typeof L_FILE != 'undefined' ? L_FILE : ''; %>">
        <source media="(min-width: 700px)" srcset="<%= typeof M_FILE != 'undefined' ? M_FILE : ''; %>">
        <img src="<%= typeof S_FILE != 'undefined' ? S_FILE : ''; %>" style="width:auto;">
      </picture>

      <% if(typeof content != 'undefined') { %>
      <%  content.forEach(function(code){ %>
      <li><%= code %></li>
      <% })} %>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>